.contmain5{
    display: flex;
}
.continfo6{
    padding-left: 240px;
    color: #fff;
    height: 500px;
    width: 600px;
}
.contli4{
    list-style: none;
    font-size: 1.55rem;
    font-weight: 400;
    padding-bottom: 30px;
}
.conthead2{
    list-style: none;
    font-size:4rem;
    font-weight: 500;
}
.contdesc6{
    padding-top: 30px;
    list-style: none;
    font-size: 1.45rem;
    font-weight: 400;
}
.contdesc6 li{
    padding-top: 8px;
}
.contimg6{
    padding-left: 100px;
    padding-top: 50px;
}
.link3{
    padding-top: 40px;
}
.link3 a{
    padding-top: 50px;
    color:#25f5ce;
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
}